/* tableStyles.css */
.table-container {
    position: relative;
  }
  
  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f8f9fa;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .error-message{
    border: 2px solid red;
  }