.app {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(33, 37, 41);
}

.search-box-container {
  margin-bottom: 20px;
}

.city-table-container {
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-container > div {
  margin-left: auto;
}

label {
  margin-right: 10px;
}